<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>AddBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>issueBook</servlet-name>
        <servlet-class>IssueBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>issueBook</servlet-name>
        <url-pattern>/issueBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>returnBook</servlet-name>
        <servlet-class>ReturnBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>returnBook</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>

</web-app>
